proof.ak
me.addr
me.sk
plutus.json
.env
circuit_inputs/input_zkLogin.json
**/build/**
!**/build/package.json
**/ceremony.ptau
deployment/test_data/**
!deployment/test_data/.gitkeep
**/generated_proofs/**